@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ind2";
}
<div class="text-center" style="border: double;">
    <h1 class="display-4">Scan Card or Put Card Number</h1>
    <input type="text" value="" />
</div>
<div>
    <p style="text-align: center; font-size: 50px;">OR</p>
</div>
<div class="text-center" style="border: double;">
    <button>
        Click to create a new Giftcard
    </button>
</div>